<div [@routerTransition]>

    <app-page-header [heading]="'All Services '" [icon]="'fa fa-cogs'">

    </app-page-header>
    <div class="row">
        <div class="container">
            <div class="card mb-3">
                <div class="card-header " >
                    Services
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>Status</th>
                            <th>Port</th>
                            <th>IpAddr</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SERVICE1 </td>
                            <td>UP</td>
                            <td>8765</td>
                            <td>192.168.30.137</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" (click)="UpStatus()" >Up</button>
                                    <button type="button" class="btn btn-danger" (click)="DownStatus()">Down</button>
<!--                                    <button type="button" class="btn btn-primary">Details </button>-->
                            </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

</div>
        <div class="container">
            <div class="card mb-3">
                <div class="card-header " >
                    Services
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>Status</th>
                            <th>Port</th>
                            <th>IpAddr</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SERVICE2</td>
                            <td>UP</td>
                            <td>8764</td>
                            <td>192.168.30.137</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Up</button>
                                    <button type="button" class="btn btn-danger">Down</button>
<!--                                    <button type="button" class="btn btn-primary">Details </button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
